body{
    background-color: #A2A77F;
}

header{
    width: 700px;
    height: 50%;
    background-color: rgb(224, 205, 183);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;

}
img{
    height: auto;
    vertical-align: middle;
    margin-right:10px;
    width: 120px;
}
h1{
    font-family:galiche ;
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
    margin-right:130px;
    padding: -10px;


}

h4{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
.services, .contact, .footer{
    width: 70%;
    height: 50%;
    background-color: rgb(224, 205, 183);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    
    
}

.contact{
    width: 60%
}

.footer{
    width: 35%;
}

ul{
    text-align: left ;
    display: inline-block;
    list-style-type: square;
    font-size: 19px;
}

p{
    font-size: 20px;

}

h5{
    font-size: 25px;
}


.copy{
    font-size: 15px;
}